/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
/* Global Styles */

/* Follow the Leader Animation */
@keyframes follow-the-leader {
  0% {
    transform: rotate(0deg) translateY(-200%); }
  60%,
  100% {
    transform: rotate(360deg) translateY(-200%); } }

.follow-the-leader {
  height: 14px;
  position: relative;
  width: 14px; 
}
.follow-the-leader div {
  animation: follow-the-leader 1.875s infinite backwards;
  background-color: #db3444; /* Brand 600 */
  border-radius: 100%;
  height: 100%;
  position: absolute;
  width: 100%; 
}
.follow-the-leader div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(219, 52, 68, 0.9); 
}
.follow-the-leader div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(219, 52, 68, 0.8); 
}
.follow-the-leader div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(219, 52, 68, 0.7); 
}
.follow-the-leader div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(219, 52, 68, 0.6); 
}
.follow-the-leader div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(219, 52, 68, 0.5); 
}

.loader-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 9999;
}

